{% extends "master_page.html" %}

{% block content %}

<h1 align="center">REGISTER TO USE PARSCORE 6!</h1>
<p>The new and improved scoring system used for easy computerized  scoring of all versions of the PARQ, PARQ/Control, PAQ, PPQ, and MORE! The  program exports data files to a data analysis program making data entry easier. </p>
<p>Never lose your data; always have it accessible to you from  anywhere in the world! Don't let computer glitches and tired eyes stop you from  completing that research project, thesis, or professional paper. </p>
<p>Do you want to find out about other researchers doing  similar research in other nations? Join PARScore 6 and have access to a  database filled with world-wide results! Your data is changeable only by you  with use of your unique Google username and password, but it can be viewed by  others in the database.</p>
<p>&nbsp;</p>
<p><a href="{{ login_url }}">Sign up</a> today !</p>

{% endblock %}
